{% extends 'base.html.twig' %}

{% block title %}Racun{% endblock %}

{% block body %}
<div class="navigation">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('artikli') }}">Artikli</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('racun') }}">Izdavanje novog raÄuna</a>
        </li>
</div>
{% endblock %}
